*.iml
*.apk
.gradle
.idea
.DS_Store

/build
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/runConfigurations.xml
/.idea/*.iml
/.idea/*.apk

/app/release
/app/onestore
/app/google

/gradle
/gradle/wrapper
/gradle/wrapper/*.jar
/gradle/wrapper/*.properties

/captures
.externalNativeBuild
.cxx